%canvas(id="myCanvas" width="1578" height="2000")

-@subjects.each do |subject|
  -if subject.terminal==1
    =button_tag "#{subject.title}",
      id: "#{subject.title}",
      onclick: "subjectClick('#{subject.title}', '#{subject.comments}');",
      style: "position: absolute; left: #{subject.x}px; top: #{subject.y}px; width: 100px; height: 40px; font-size: 14px;"
  -else
    =button_tag "#{subject.title}",
      id: "#{subject.title}",
      onclick: "subjectClick('#{subject.title}', '#{subject.comments}');",
      style: "position: absolute; left: #{subject.x}px; top: #{subject.y}px; width: 100px; height: 40px; font-size: 14px;"


:javascript
  var canvas = document.getElementById('myCanvas');
  var context = canvas.getContext('2d');

  function subjectClick(title, comment) {
    context.clearRect(0, 0, 1578, 2000);
    switch(title) {
      case 'Code':
        drawLine(#{@code.x} + 50, #{@code.y}+7, #{@fragile.x} + 50, #{@fragile.y}+7)
        drawLine(#{@mvp.x} + 50, #{@mvp.y}+7, #{@code.x} + 50, #{@code.y}+7)
        drawLine(#{@code.x} + 50, #{@code.y}+7, #{@scm.x} + 50, #{@scm.y}+7)
        drawLine(#{@code.x} + 50, #{@code.y}+7, #{@emergent.x} + 50, #{@emergent.y}+7)
        drawLine(#{@code.x} + 50, #{@code.y}+7, #{@batches.x} + 50, #{@batches.y}+7)
        break;
    }
  }

  function drawLine(fromX, fromY, toX, toY) {
    context.beginPath();

    context.moveTo(fromX, fromY);
    context.lineTo(toX, toY);

    context.stroke();
  }
