%legend
  Welcome to "From fragile to agile and everything in between!"

-if flash[:error]
  .alert.alert-danger
    =raw flash[:error]

-@subjects.each do |subject|
  =button_tag "#{subject.title}",
    id: "#{subject.title}",
    onclick: "subjectClick('#{subject.title}', '#{subject.comments}');",
    style: "position: absolute; left: #{subject.left}px; top: #{subject.top}px"

%canvas(id="myCanvas" width="578" height="200")

:javascript
  var canvas = document.getElementById('myCanvas');
  var context = canvas.getContext('2d');

  function subjectClick(title, comment) {
    alert(title + ": " + comment);
  }

  function drawLine() {
    context.beginPath();

    context.moveTo(100, 150);
    context.lineTo(450, 50);

    context.stroke();
  }
