=text_field_tag 'comments', "", disabled: true, size: 200, style: "position: absolute; left: 0px; top: 0px; height: 12px; font-size: 12px; text-align: center;"

%canvas(id="myCanvas" width="1400" height="800")

-@subjects.each do |subject|
  =button_tag "#{subject.title}",
    id: "#{subject.title}",
    onclick: "subjectClick('#{subject.title}', '#{subject.comments}');",
    style: "left: #{subject.x}px; top: #{subject.y}px;",
    class: ("terminal" if subject.terminal==1)

=javascript_tag "homeInit(#{@s})"

